<div style="overflow: hidden">
  <app-nav></app-nav>
  <section class="h-100" style="background-color: white">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-center align-items-center mb-4">
            <h3 style="font-weight: bolder; font-size: x-large">
              CARRINHO DO PINGUIM
            </h3>
          </div>
          <audio
            src="../../assets/audio/Club Penguin - Coffee Shop [Loop High Quality] (1) - Copia.mp4"
            autoplay
            loop
          ></audio>

          <div style="overflow-y: scroll; height: 1300px; width: 100%">
            <div
              class="cards"
              style="
                width: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
              "
            >
              @for (item of carrinho; track item) {
              <div class="card">
                <img
                  src="../../assets/imagens/canecaCafeCP.png"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 30px; font-weight: bold;">{{ item.nome }}</h5>
                  <p class="card-text" style="font-size: 20px;">R$ {{item.preco * item.quantidade}}</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                  <button class="bq-mais" (click)="mais(item.id)"><h1>+</h1></button>
                  <input class="quantidade" value="{{item.quantidade}}" style="text-align: center; font-size: 30px;">
                  <button class="bq-menos" (click)="menos(item.id)"><h1>-</h1></button>
                </div>
                <button class="remover" (click)="remover(item)">Remover</button>
              </div>
              }
            </div>
          </div>

          <div class="card" style="justify-content: center">
            <div class="card-body" style="justify-content: center">
              <h1>Total: R$ {{totalCompra}}</h1>
              <button type="button" class="btn btn-warning btn-block btn-lg" (click)="adicionarPedido()">
                Proceed to Pay
              </button>
            </div>
            <mat-form-field appearance="fill" style="margin-right: 10px; width: 300px; padding-top: 20px; border-radius: 10px; ">
              <mat-label>Cupom</mat-label>
              <input matInput
              [(ngModel)]="cupom"
              name="cupom"/>
            </mat-form-field>
            <button (click)="okCupom()" type="button" style="background-color: lightgreen; border: none; border-radius: 8px; height: 59px; width: 80px; margin-right: 10px; font-size: 20px; color: green;">
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
