<div
  style="
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
>
  <br />
  <br />
  <p style="font-size: 50px; font-weight: bold">Dashboard</p>
  <br />
  <div style="width: 50%; height: 500px">
    <app-line-chart></app-line-chart>
  </div>

  <div style="width: 50%; height: 500px">
    <app-bar-chart></app-bar-chart>
  </div>

  <div style="width: 80%">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <br />
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <br />
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <br />
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <br />
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </div>
</div>
