<div style="display: flex;">
    <div style="width: 50%; height: 100px; background-color: lightyellow; color: black; font-weight: bold; font-size: xx-large; align-items: center; display: flex; justify-content: center;">PREPARANDO</div>
    <div style="width: 50%; height: 100px; background-color: lightgreen; color: black; font-weight: bold; font-size: xx-large; align-items: center; display: flex; justify-content: center;">PRONTO</div>
</div>
<div style="display: flex; padding-top: 50px;">
    <div style="width: 50%; justify-content: center; display: flex">
        aesdf
    </div>
    <div style="width: 50%; justify-content: center; display: flex">
        sdfsad
    </div>
</div>