.pedidos
{
    width: 100%;
    height: 1000px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card
{
    margin-bottom: 10px;
}

.numDePedidos
{
    font-size: xx-large;
    font-weight: bold;

}

button
{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: lightgreen;
}

button:active
{
    transform: scale(0.95);
}