<br>
<div class="pedidos">
  <div style="display: flex;">
    <img style="height: 50px; margin: 10px;" src="../../assets/imagens/canecaCafeCP.png">
    <h2 class="numDePedidos">PEDIDOS RESTANTES: 237</h2>
    <img style="height: 50px; margin: 10px;" src="../../assets/imagens/copoCafeCP.png">
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Order: num</h5>
      <p class="card-text">
        Item 1...
      </p>
      <p class="card-text">
        Item 2...
      </p>
      <p class="card-text">
        Item 3...
      </p>
      <button>
        <h2>
          Finalizar
        </h2>
      </button>
      <br>
      <br>
      <button>
        <h2>
          Entregar
        </h2>
      </button>
    </div>
  </div>
</div>