<br />
<div class="pedidos">
  <div style="display: flex">
    <img
      style="height: 50px; margin: 10px"
      src="../../assets/imagens/canecaCafeCP.png"
    />
    <h2 class="numDePedidos">PEDIDOS PRONTOS: {{ pedidosRestantes }}</h2>
    <img
      style="height: 50px; margin: 10px"
      src="../../assets/imagens/copoCafeCP.png"
    />
  </div>
  @for (item of list; track item) 
  { 
    @if(item.pronto == true && item.entregue == false) {

    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title" style="font-size: medium">
          PEDIDO PRONTO: {{ item.orderId }}
        </h5>
        <div
          style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-weight: bold;
            font-size: large;
          "
        >
          <div>
            @for (produtos of item.produto; track produtos) {
            <p class="card-text">{{ produtos }}</p>
            }
          </div>
          <div>
            @for (quantidades of item.quantidade; track quantidades) {
            <p class="card-text">{{ quantidades }}</p>
            }
          </div>
        </div>
        <br />
        <button (click)="Entregar(item.orderId)">
          <h2>Entregar</h2>
        </button>
      </div>
    </div>
    } 
  }
</div>
