<a
  href="http://localhost:4200/totem"
  style="text-decoration: none; color: black"
>
  <div
    style="
      height: 100vh;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    "
  >
    <audio
      src="../../assets/audio/Club Penguin - Coffee Shop [Loop High Quality] (1) - Copia.mp4"
      autoplay
      loop
    ></audio>
    <img
      height="80%"
      width="100%"
      style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px"
      src="../../assets/imagens/semtitulo.png"
    />
    <div
      style="
        height: 20%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
      "
    >
      <h1 style="font-size: xx-large; font-weight: bolder">
        TOQUE NA TELA PARA COMEÇAR
      </h1>
    </div>
  </div>
</a>
